{% extends "EDUBundle::layout.html.twig" %}
    
{% block cmi_body %}
    <div class="row">
        <div class="col-md-2">
            
        </div>
        <div class="col-md-6">
            <a href="{{base_url}}/class/edit/subject/{{ class.id }}" class="btn btn-xs btn-success">
                <i class="glyphicon glyphicon-plus"></i>
                {{ 'Subjects'|trans }}
            </a>
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-md-2">
            
        </div>
        <div class="col-md-6">
            {{form_start(form)}}
            {{form_widget(form)}}
            {{form_end(form)}}
        </div>
    </div>
{% endblock %}