{% extends "EDUBundle::layout.html.twig" %}

{% block cmi_body %}
    <div class="row">
        <div class="col-lg-12">
            <a href="{{base_url}}/class/add" class="btn btn-success btn-xs">{{ 'Add New Class'|trans }}</a>
            <br /><br />
            <div class="panel panel-default">
                <div class="panel-body">
                    <table width="100%" class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline" id="dataTables-example" role="grid" aria-describedby="dataTables-example_info" style="width: 100%;">
                        <thead>
                            <tr role="row">
                                <!--<th  tabindex="0"  rowspan="1" colspan="1" >{{ 'Class ID'|trans }}</th>-->
                                <th  tabindex="0"  rowspan="1" colspan="1" >{{ 'Class Name'|trans }}</th>
                                <th  tabindex="0"  rowspan="1" colspan="1" >{{ 'Actions'|trans }}</th>
                            </tr>
                        </thead>
                        <tbody>
                        {%  for class in classes %}
                            <tr class="gradeA odd" role="row">
                                <!--<td>-->
                                <!--    {{ class.id }}-->
                                <!--</td>-->
                                <td>
                                    {{ class.className }}
                                </td>
                                <td>
                                    <!--<a href="{{base_url}}/class/edit/subject/{{ class.id }}" class="btn btn-xs btn-success">
                                        <i class="glyphicon glyphicon-plus"></i>
                                        {{ 'Subjects'|trans }}
                                    </a>-->

                                    <input type="buton" class="btn btn-xs btn-primary" style="width:69px;" value="{{ 'View'|trans }}"  onclick="detail({{ class.id }})">
                                    <a href="{{base_url}}/class/edit/{{ class.id }}" class="btn btn-xs btn-default">{{ 'Edit'|trans }}</a>
                                    <a href="{{base_url}}/class/delete/{{ class.id }}" class="btn btn-xs btn-danger">{{ 'Delete'|trans }}</a>
                                </td>
                            </tr>



                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


{%  for class in classes %}
  <!-- Modal -->
  <div class="modal fade" id="detail_{{ class.id }}" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;
          </button>
          <h4 class="modal-title"><b>{{ 'class-all-popup-heading'|trans }}</b>
          </h4>
        </div>
        <div class="modal-body">
          <table width="100%" class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline" id="dataTables-example" role="grid" aria-describedby="dataTables-example_info" style="width: 100%;">
                        <tbody>
                            <tr class="gradeA odd" role="row">
                                <td>
                                    {{ 'class_name_all_view'|trans }}
                                </td>
                                <td>
                                    {{ class.className }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {{ 'class_subjects_all_view'|trans }}
                                </td>
                                <td>
                                    {%  for subject in class.subjects %}
                                        {{ subject.subjects }},&nbsp;  
                                    {% endfor %}
                                </td>
                            </tr>
                        </tbody>
                    </table>
        </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close
              </button>
            </div>
      </div>
    </div>
  </div>
{% endfor %}
{% endblock %}
