

{% extends "CMIBundle::layout.html.twig" %}

{% block cmi_body %}

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    {{ form_start(form) }}
                    {{ form_row(form.code) }}
                    {{ form_row(form.Section1) }}
                    {% for sectionLabel in form.sectionLabel %}
                        <h4>Section Label {{ sectionLabel.vars.value.language }}</h4>
                        {{ form_widget(sectionLabel) }}
                    {% endfor %}
                    <button type="submit">Save</button>
                    {{ form_end(form) }}

                </div>
            </div>
        </div>
    </div>

{% endblock %}